*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
}
nav{
    height: 10vh;
    background-color: rgba(185, 185, 185, 0.493);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
nav .home a{
    color: black;
    text-decoration: none;
    padding: 5px 55px;
    border: 1px solid black;
    border-radius: 5px;
    background-color:  rgba(151, 151, 151, 0.493);
}
nav .yt a{
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 55px;
    background-color: rgb(219, 218, 218);
}
.canva{
    margin-top: 90px;
    text-align: center;
}
.canva h1{
    font-size: 28px;
    margin-bottom: 30px;
}
.button{
    height: 90px;
    width: 80px;
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    margin-bottom: 60px;
}
#grey{
    background-color: gray;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
.canva h2{
    font-size: 25px;
}
.canva h2 span{
    display: block;
    margin-top: 8px;
}