*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: grey;
}
nav{
    height: 10vh;
    background-color: rgba(228, 228, 228, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    margin: 0 10px;
    padding: 5px 55px;
}
.container{
    margin-top: 30px;
    margin-left: 40px ;
}
.container h1{
    margin-bottom: 40px;
}
.container .upper label{
    font-size: 20px;
}
.container .upper p{
    margin-bottom: 40px;
}
.container input:focus{
    box-shadow: 0 0 20px rgb(238, 234, 234);
    outline: none;
    
}
.container button{
    font-size: 20px;
    margin-left: 74px;
    padding: 5px 30px;
    margin-bottom: 40px;
    border-radius: 9px;
}
.container button:hover{
    box-shadow: 0 0 10px pink;
}
.container h3{
    margin-left: 50px;
    font-size: 20px;
}
.container .lower{
    margin-left: 50px;
    margin-top: 20px;
}
.lower p{
    margin: 10px 0;
    font-weight: 400;
    font-size: 20px;
}
.res{
    display: inline;
    background-color: rgba(126, 125, 125, 0.849);
}
.res #result{
    font-size: 30px;
}