*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(33, 32, 32);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h1{
    font-size: 40px;
    font-weight: 400;
}
.container button{
    padding: 3px 25px;
    margin-top: 15px;
}
#start{
    margin-left: 160px;
    margin-right: 5px;
}
